node_modules/
.vs/
.vs\
Backend/.vs/
Backend/.vs/Employeer List BackEnd/
Backend/.vs/Employeer List BackEnd/v17/DocumentLayout.json
/Backend/.vs
/Backend/.vs/Employeer List BackEnd
/Backend/.vs/Employeer List BackEnd/v17
*.json
*.suo
Backend/.vs/
Backend/.vs/
Backend/.vs/Employeer List BackEnd/v17/.suo
Backend/.vs/Employeer List BackEnd/v17/DocumentLayout.backup.json
Backend/.vs/Employeer List BackEnd/v17/DocumentLayout.json
Backend/.vs/Employeer List BackEnd/v17/fileList.bin
Backend/.vs/Employeer List BackEnd/v17/DocumentLayout.json
Backend/.vs/Employeer List BackEnd/v17/DocumentLayout.backup.json
Backend/.vs/Employeer List BackEnd/v17/.suo
