node_modules/
.vs/
.vs\
Backend/.vs/
Backend/.vs/Employeer List BackEnd/
Backend/.vs/Employeer List BackEnd/v17/DocumentLayout.json
/Backend/.vs
/Backend/.vs/Employeer List BackEnd
/Backend/.vs/Employeer List BackEnd/v17
*.json
